{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Registros de Programas Creados</li>
                </ol>
            </div>
            <h2 class="my-3 h2 text-center"> <u>PROGRAMACIÓN DE EMBARQUE</u></h2>

        </div>
    </div>
</div>
<!-- end page title -->



<div class="row">
    <div class="col-xl-12 col-lg-4 col-sm-12">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">

                                        <h5 class="font-12"><u>Formulario de Registro</u></h5>
                                        <h2 class="header-title font-18"> AGREGAR PROGRAMA DE EMBARQUE</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="tab-content">
                                <div class="tab-pane show active" id="input-masks-preview">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form action="#" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}

                                                <div class="row" style="margin-top: 20px;">
                                                    <div class="col-xl-4 col-sm-12">
                                                        <label class="form-label">Exportadora</label>
                                                        {{ form.exportadora }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Fecha Programa</label>
                                                        {{ form.date_program }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Hora Planta</label>
                                                        {{ form.hora_planta }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Hora Carpa</label>
                                                        {{ form.hora_carpa }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Hora Termino</label>
                                                        {{ form.hora_termino }}
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 20px;">
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Hora Puerto</label>
                                                        {{ form.hora_puerto }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Via Transporte</label>
                                                        {{ form.tipo_via }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Tipo Transporte</label>
                                                        {{ form.tipo_transporte }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label"> Especie</label>
                                                        {{ form.especie }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">N° Instructivo</label>
                                                        {{ form.n_instructivo }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">SPS</label>
                                                        {{ form.sps }}
                                                    </div>

                                                </div>

                                                <div class="row" style="margin-top: 20px;">
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label"> DUS</label>
                                                        {{ form.dus }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Puerto Embarque</label>
                                                        {{ form.pto_embarque }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Pais Destino</label>
                                                        {{ form.pais_destino }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label"> Etiqueta</label>
                                                        {{ form.etiqueta }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Numero Pallets</label>
                                                        {{ form.n_pallets }}
                                                    </div>
                                                    <div class="col-xl-2 col-sm-12">
                                                        <label class="form-label">Tipo Inspección</label>
                                                        {{ form.tipo_inspeccion }}
                                                    </div>
                                                </div>



                                                <div class="row" style="margin-top: 20px;">
                                                    <div class="col-xl-7 col-sm-12">
                                                        <label class="form-label"> <u>Observaciones:</u>
                                                        </label>
                                                        {{ form.observaciones }}
                                                    </div>

                                                    <div class="col-xl-2 col-sm-12">
                                                        <div class="row">
                                                            <div class="row">
                                                                <div class="col-xl-1 col-sm-12">
                                                                    <label class="form-label">¿Activar?</label>
                                                                    <input type="checkbox" id="switch1" checked
                                                                        data-switch="secondary" />
                                                                    <label for="switch1" data-on-label="Activar"
                                                                        data-off-label="No"></label>
                                                                    {{ form.porteria_active }}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-1 col-sm-12">
                                                                    <label class="form-label">¿Activar?</label>
                                                                    <input type="checkbox" id="switch2" checked
                                                                        data-switch="secondary" />
                                                                    <label for="switch2" data-on-label="Activar"
                                                                        data-off-label="No"></label>
                                                                    {{ form.frio_active }}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-1 col-sm-12">
                                                                    <label class="form-label">¿Activar?</label>
                                                                    <input type="checkbox" id="switch3" checked
                                                                        data-switch="secondary" />
                                                                    <label for="switch3" data-on-label="Activar"
                                                                        data-off-label="No"></label>
                                                                    {{ form.sag_active }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-xl-3 col-sm-12 ">
                                                        <button class=" col-xl-12 btn btn-xs btn-success my-4"
                                                            type="submit" id="submit" data-bs-toggle="modal"
                                                            data-bs-target="#success-alert-modal"><i
                                                                class="mdi mdi-truck-plus"></i>
                                                            <span>Agregar Programa Embarque</span></button>


                                                        <button class="col-xl-12 btn btn-primary" type="reset"
                                                            id="reset">
                                                            <i class="mdi mdi-cloud me-1"></i>
                                                            <span>Limpiar</span> </button>
                                                    </div>



                                                </div>
                                                
                                                <!-- Success Alert Modal -->
                                                <div id="success-alert-modal" class="modal fade" tabindex="-1"
                                                    role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content modal-filled bg-success">
                                                            <div class="modal-body p-4">
                                                                <div class="text-center">
                                                                    <i class="dripicons-checkmark h1"></i>
                                                                    <h4 class="mt-2">Agregado
                                                                        Exitosamente!</h4>
                                                                    <p class="mt-3"> </p>
                                                                    <button type="submit" id="submit"
                                                                        class="btn btn-light my-2"
                                                                        data-bs-dismiss="modal">Continuar</button>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            </form>

                                        </div> <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div> <!-- end preview-->
                            </div> <!-- end tab-content-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div> <!-- end row -->
            <!-- end card-body-->
        </div>
    </div> <!-- end col -->
</div>

<div class="row">
    <div class="col-xl-12 col-lg-8 col-sm-12">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">

                                        <h2 class="page-title">LISTA DE PROGRAMAS</h2>
                                        {% include "include/menu_superior_read.html" %}
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="table-responsive">
                                <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="all" style="width: 20px;">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th class="all">Fecha Programa</th>
                                            <th class="all">Exportadora</th>
                                            <th class="all">Hr Planta</th>
                                            <th class="all">Hr Carpa</th>
                                            <th class="all">Hr Termino</th>
                                            <th class="all">Especie</th>
                                            <th class="all">Pto Embarque</th>
                                            <th scope="col">created_at</th>
                                            <th style="width: 90px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for registro in registros %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck2">
                                                    <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>

                                            <td>{{registro.date_program}}</td>
                                            <td>{{registro.exportadora}}</td>
                                            <td>{{registro.hora_planta}}</td>
                                            <td>{{registro.hora_carpa}}</td>
                                            <td>{{registro.hora_termino}}</td>
                                            <td>{{registro.especie}}</td>
                                            <td>{{registro.pto_embarque}}</td>
                                            <td>{{registro.created_at}}</td>
                                            <td class="table-action">
                                                <!--<a class="action-icon"> <i class="mdi mdi-eye"></i></a>-->
                                                <a class="action-icon" href="{% url 'update_programa' registro.id %}">
                                                    <i class="mdi mdi-square-edit-outline"></i></a>
                                                <a class="action-icon" href="{% url 'delete_programa' registro.id %}">
                                                    <i class="mdi mdi-delete"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>


<!-- end row-->

{% endblock %}