{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active"><u>Formulario Update Programa de Embarque</u></li>
                    </ol>
                </div>
                <h5 class="font-12 text-center"> </h5>
                <h2 class="my-3 h2 text-center"> <u>ACTUALIZAR PROGRAMA DE EMBARQUE</u></h2>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="input-masks-preview">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form action="#" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="row" style="margin-top: 20px;">
                                                            <div class="col-xl-4 col-sm-12">
                                                                <label class="form-label">Exportadora</label>
                                                                {{ form.exportadora }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Fecha Programa</label>
                                                                {{ form.date_program }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Hora Planta</label>
                                                                {{ form.hora_planta }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Hora Carpa</label>
                                                                {{ form.hora_carpa }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Hora Termino</label>
                                                                {{ form.hora_termino }}
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top: 20px;">
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Hora Puerto</label>
                                                                {{ form.hora_puerto }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Via Transporte</label>
                                                                {{ form.tipo_via }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Tipo Transporte</label>
                                                                {{ form.tipo_transporte }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label"> Especie</label>
                                                                {{ form.especie }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">N° Instructivo</label>
                                                                {{ form.n_instructivo }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">SPS</label>
                                                                {{ form.sps }}
                                                            </div>
                                                        </div>

                                                        <div class="row" style="margin-top: 20px;">
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label"> DUS</label>
                                                                {{ form.dus }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Puerto Embarque</label>
                                                                {{ form.pto_embarque }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Pais Destino</label>
                                                                {{ form.pais_destino }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label"> Etiqueta</label>
                                                                {{ form.etiqueta }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Numero Pallets</label>
                                                                {{ form.n_pallets }}
                                                            </div>
                                                            <div class="col-xl-2 col-sm-12">
                                                                <label class="form-label">Tipo Inspección</label>
                                                                {{ form.tipo_inspeccion }}
                                                            </div>
                                                        </div>

                                                        <div class="row" style="margin-top: 20px;">
                                                            <div class="col-xl-8 col-sm-12">
                                                                <label class="form-label"> <u>Observaciones:</u>
                                                                </label>
                                                                {{ form.observaciones }}
                                                            </div>
                                                            <div class="col-xl-4 col-sm-12 ">
                                                                <button class=" col-xl-12 btn btn-xs btn-success my-4"
                                                                    type="button" id="button" data-bs-toggle="modal"
                                                                    data-bs-target="#success-alert-modal"><i
                                                                        class="mdi mdi-truck-plus"></i>
                                                                    <span>Editar Registro</span></button>


                                                                <button class="col-xl-12 btn btn-primary" type="back"
                                                                    id="back">
                                                                    <i class="mdi mdi-cloud me-1"></i>
                                                                    <span>Volver sin Cambios</span> </button>
                                                            </div>
                                                        </div>
                                                        <!-- Success Alert Modal -->
                                                        <div id="success-alert-modal" class="modal fade" tabindex="-1"
                                                            role="dialog" aria-hidden="true">
                                                            <div class="modal-dialog modal-sm">
                                                                <div class="modal-content modal-filled bg-success">
                                                                    <div class="modal-body p-4">
                                                                        <div class="text-center">
                                                                            <i class="dripicons-checkmark h1"></i>
                                                                            <h4 class="mt-2">Editado
                                                                                Exitosamente!</h4>
                                                                            <p class="mt-3"> </p>
                                                                            <button type="submit" id="submit"
                                                                                class="btn btn-light my-2"
                                                                                data-bs-dismiss="modal">Continuar</button>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->

                                                    </form>
                                                </div> <!-- end col -->
                                            </div>
                                            <!-- end row -->
                                        </div> <!-- end preview-->
                                    </div> <!-- end tab-content-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div> <!-- container -->
{% endblock %}