<div class="row ">
    <div >
        <div class="card">
            <button class=" btn btn-xs btn-success mb-0  " type="button" id="button" data-bs-toggle="modal"
        data-bs-target="#success-alert-modal"><i class="uil-file-check-alt"></i>
        <span>Agregar Programa Embarque</span></button>
        </div>
    </div>

    <div >
        <div class="card">
            <button class="btn btn-primary mb-0  " type="reset" id="reset">
                <i class="uil-clipboard-blank mb-2"></i>
                <span>Limpiar</span> </button>
        </div>
    </div>
</div>




<!-- Success Alert Modal -->
<div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1"></i>
                    <h4 class="mt-2">Agregado
                        Exitosamente!</h4>
                    <p class="mt-3"> </p>
                    <button type="submit" id="submit" class="btn btn-light my-2"
                        data-bs-dismiss="modal">Continuar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->