
    <button class="btn btn-xs btn-success" type="button" id="button" data-bs-toggle="modal"
        data-bs-target="#success-alert-modal"><i class="mdi mdi-truck-plus"></i>
        <span>Editar Registro</span></button>
    &nbsp;
    &nbsp;
   
    <button class="btn btn-primary" type="back" id="back">
        <i class="mdi mdi-cloud me-1"></i>
        <span>Volver sin Cambios</span> </button>



<!-- Success Alert Modal -->
<div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1"></i>
                    <h4 class="mt-2">Editado 
                        Exitosamente!</h4>
                    <p class="mt-3"> </p>
                    <button type="submit" id="submit" class="btn btn-light my-2"
                        data-bs-dismiss="modal">Continuar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->