<div class="row mb-2">

    <!-- Link with Dropdown -->
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Registros
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'create_camiones' %}"><i class="mdi mdi-plus-circle me-2"></i>Agregar
                Camión</a>
            <a class="dropdown-item" href="{% url 'create_exportadora' %}"><i
                    class="mdi mdi-plus-circle me-2"></i>Agregar Exportadora</a>
            <a class="dropdown-item" href="{% url 'create_productores' %}"><i
                    class="mdi mdi-plus-circle me-2"></i>Agregar Productor</a>
            <a class="dropdown-item" href="{% url 'create_especies' %}"><i class="mdi mdi-plus-circle me-2"></i>Agregar
                Especie</a>
            <a class="dropdown-item" href="{% url 'create_variedades' %}"><i
                    class="mdi mdi-plus-circle me-2"></i>Agregar Variedad</a>
            <a class="dropdown-item" href="{% url 'create_envases' %}"><i class="mdi mdi-plus-circle me-2"></i>Agregar
                Envase</a>
        </div>
    </div>
    

</div>

