<div class="row mb-2">

    <!-- Link with Dropdown -->
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ver Registros
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'read_camiones' %}"><i class="uil-eye me-2"></i>Camiones</a>
            <a class="dropdown-item" href="{% url 'read_exportadora' %}"><i class="uil-eye  me-2"></i>Exportadoras</a>
            <a class="dropdown-item" href="{% url 'read_productores' %}"><i class="uil-eye  me-2"></i>Productores</a>
            <a class="dropdown-item" href="{% url 'read_especies' %}"><i class="uil-eye  me-2"></i>Especies</a>
            <a class="dropdown-item" href="{% url 'read_variedades' %}"><i class="uil-eye  me-2"></i>Variedades</a>
            <a class="dropdown-item" href="{% url 'read_envases' %}"><i class="uil-eye  me-2"></i>Envases</a>
        </div>
    </div>
    

</div>

