<div class="row mb-2 ">
    <div class="col-sm-1">
        <div class="row mb-2">

            <!-- Link with Dropdown -->
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Registros
                </a>
        
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'all_camion' %}"><i class="mdi mdi-plus-circle me-2"></i>Agregar
                        Camión</a>
                    <a class="dropdown-item" href="{% url 'all_exportador' %}"><i
                            class="mdi mdi-plus-circle me-2"></i>Agregar Exportadora</a>
                    <a class="dropdown-item" href="{% url 'all_productor' %}"><i
                            class="mdi mdi-plus-circle me-2"></i>Agregar Productor</a>
                    <a class="dropdown-item" href="{% url 'all_especie' %}"><i class="mdi mdi-plus-circle me-2"></i>Agregar
                        Especie</a>
                    <a class="dropdown-item" href="{% url 'all_variedad' %}"><i
                            class="mdi mdi-plus-circle me-2"></i>Agregar Variedad</a>
                    <a class="dropdown-item" href="{% url 'all_envase' %}"><i class="mdi mdi-plus-circle me-2"></i>Agregar
                        Envase</a>
                </div>
            </div>
            
        
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-sm-1">
        <div class="row mb-2">

            <!-- Link with Dropdown -->
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ver Registros
                </a>
        
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'all_camion' %}"><i class="uil-eye me-2"></i>Camiones</a>
                    <a class="dropdown-item" href="{% url 'all_exportador' %}"><i class="uil-eye  me-2"></i>Exportadoras</a>
                    <a class="dropdown-item" href="{% url 'all_productor' %}"><i class="uil-eye  me-2"></i>Productores</a>
                    <a class="dropdown-item" href="{% url 'all_especie' %}"><i class="uil-eye  me-2"></i>Especies</a>
                    <a class="dropdown-item" href="{% url 'all_variedad' %}"><i class="uil-eye  me-2"></i>Variedades</a>
                    <a class="dropdown-item" href="{% url 'all_envase' %}"><i class="uil-eye  me-2"></i>Envases</a>
                </div>
            </div>
            
        
        </div>
        
        
    </div>
</div>