<div class="row mb-2">

    <div class="text-sm-end">
        <div class="dropdown">
            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>

            <a class="btn btn-secondary dropdown-toggle mb-2 me-2" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exportar
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">PDF</a>
                <a class="dropdown-item" href="#">Excel</a>
                <a class="dropdown-item" href="#">Imprimir</a>
            </div>
        </div>

    </div>
</div>