{% extends "base.html" %}


{% load static %}


{% block content %}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h2 class="text-center">
                    <strong><u>REGISTRO DE CONTROL DE RECEPCIÓN CEREZAS FRESCAS</u></strong>
                </h2>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="row col-xl-12 col-sm-12">
            <div class="card">
                <div class="card-body">

                    <form action="#" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row text-center">

                            <div class="col-xl-6 col-md-12 col-sm-12 ">

                                <h4 style="background-color:  #313a46; color: aliceblue;" class="text-center">
                                    <strong><u>INFORMACIÓN GENERAL</u></strong>
                                </h4>

                                <div class="row">
                                    <div class="col-xl-6 col-md-6 col-sm-12  ">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-5 col-form-label font-12">Lote</label>
                                            <div class="col-7">
                                                {{ r.Lote }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-5 col-form-label font-12">N° de
                                                Guia</label>
                                            <div class="col-7">
                                                {{ r.Nguia }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre"
                                                class="col-5 col-form-label font-12">Exportadora</label>
                                            <div class="col-7">
                                                {{ r.Exportadora }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre"
                                                class="col-5 col-form-label font-12">Productor</label>
                                            <div class="col-7">
                                                {{ r.Productor }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre"
                                                class="col-5 col-form-label font-12">Variedad</label>
                                            <div class="col-7">
                                                {{ r.Variedad }}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-5 col-form-label font-12">Tipo
                                                Transporte</label>
                                            <div class="col-7">
                                                {{ r.Tip_Trans }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-5 col-form-label font-12">Patente</label>
                                            <div class="col-7">
                                                {{ r.Patente }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-5 col-form-label font-12">Kilos
                                                Netos</label>
                                            <div class="col-7">
                                                {{ r.KNeto }}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="form-label col-5 font-12 my-2">Hidro
                                                Campo</label>
                                            <div class="col-7 my-2">
                                                {{ r.Hidro }}
                                                <label for="switch3" data-on-label="Si" data-off-label="No"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-sm-12 ">

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Fecha
                                                Recepción</label>
                                            <div class="col-8">
                                                {{ r.Fecha_Recepcion }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Hora
                                                Recepción</label>
                                            <div class="col-8">
                                                {{ r.Hora_Recepcion }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Hora
                                                Análisis</label>
                                            <div class="col-8">
                                                {{ r.Hora_Analisis }}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">T°
                                                Minima</label>
                                            <div class="col-8">
                                                {{ r.Tmin }}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">T°
                                                Maxima</label>
                                            <div class="col-8">
                                                {{ r.Tmax }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Tipo de
                                                Envase</label>
                                            <div class="col-8">
                                                {{ r.Tip_Env }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Cantidad
                                                Envases</label>
                                            <div class="col-8">
                                                {{ r.NEnv }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Cantidad
                                                Frutos</label>
                                            <div class="col-8">
                                                {{ r.NFruto }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <div class="row col-xl-2 col-md-4 sm-12">
                                <div class="card">
                                    <h4 style="background-color:  #313a46; color: aliceblue;" class="text-center"
                                        style=" margin-right: 2px;">
                                        <strong><u>Distribución por Calibre</u></strong>
                                    </h4>
                                    <div class="col-xl-12 col-md-12 col-sm-12">


                                        <div class="col-xl-12 col-md-12 col-sm-12" style="margin-top: 15px;">


                                            <div class="form-group row" style=" margin-right: 2px;">
                                                <label for="Precalibre"
                                                    class="col-6 col-form-label"><u><strong>CALIBRES</strong></u></label>
                                                <label for="Precalibre" class="col-6 col-form-label"><u><strong>N°
                                                            FRUTOS</strong></u></label>

                                            </div>
                                            <div class="form-group row " style=" margin-right: 2px;">
                                                <label for="Precalibre"
                                                    class="col-6 col-form-label font-12">Pre-Calibre</label>
                                                <div class="col-6">
                                                    {{ r.PC }}
                                                </div>
                                            </div>
                                            <div class="form-group row" style=" margin-right: 2px;">
                                                <label for="Precalibre" class="col-6 col-form-label font-12">Large
                                                    (L)</label>
                                                <div class="col-6">
                                                    {{ r.L }}
                                                </div>
                                            </div>
                                            <div class="form-group row" style=" margin-right: 2px;">
                                                <label for="Precalibre" class="col-6 col-form-label font-11">Extra
                                                    Large
                                                    (XL)</label>
                                                <div class="col-6">
                                                    {{ r.XL }}
                                                </div>

                                            </div>
                                            <div class="form-group row" style=" margin-right: 2px;">
                                                <label for="Precalibre" class="col-6 col-form-label font-12">Jumbo
                                                    (J)</label>
                                                <div class="col-6">
                                                    {{ r.J }}
                                                </div>
                                            </div>
                                            <div class="form-group row" style=" margin-right: 2px;">
                                                <label for="Precalibre" class="col-6 col-form-label font-12">2
                                                    Jumbo
                                                    (2J)</label>
                                                <div class="col-6">
                                                    {{ r.J2 }}
                                                </div>
                                            </div>
                                            <div class="form-group row" style=" margin-right: 2px;">
                                                <label for="Precalibre" class="col-6 col-form-label font-12">3
                                                    Jumbo
                                                    (3J)</label>
                                                <div class="col-6">
                                                    {{ r.J3 }}
                                                </div>
                                            </div>
                                            <div class="form-group row" style=" margin-right: 2px;">
                                                <label for="Precalibre" class="col-6 col-form-label font-12">4
                                                    Jumbo
                                                    (4J)</label>
                                                <div class="col-6">
                                                    {{ r.J4 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-xl-2 col-md-4 col-sm-12">
                                <div class="card">
                                    <h4 style="background-color:  #313a46; color: aliceblue;" class="text-center">
                                        <strong><u>Distribución por Color</u></strong>
                                    </h4>
                                    <div class="col-xl-12 col-md-12 col-sm-12" style="margin-top: 15px;">

                                        <div class="form-group row">
                                            <label for="Precalibre"
                                                class="col-6 col-form-label"><u><strong>COLOR</strong></u></label>
                                            <label for="Precalibre" class="col-6 col-form-label"><u><strong>N°
                                                        FRUTOS</strong></u></label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Rojo</label>
                                            <div class="col-6">
                                                {{ r.Rojo }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Rojo
                                                Caoba</label>
                                            <div class="col-6">
                                                {{ r.RojoCaoba }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Caoba</label>
                                            <div class="col-6">
                                                {{ r.Caoba }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Caoba
                                                Oscuro</label>
                                            <div class="col-6">
                                                {{ r.CaobaOscuro }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Negro</label>
                                            <div class="col-6">
                                                {{ r.Negro }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row col-xl-2 col-md-4 col-sm-12">
                                <div class="card">
                                    <h4 style="background-color:  #313a46; color: aliceblue;" class="text-center">
                                        <strong><u>Distribución FirmPro</u></strong>
                                    </h4>
                                    <div class="col-xl-12 col-md-12 col-sm-12 " style="margin-top: 15px;">

                                        <div class="form-group row">
                                            <label for="Precalibre"
                                                class="col-6 col-form-label"><u><strong>COLOR</strong></u></label>
                                            <label for="Precalibre" class="col-6 col-form-label"><u><strong>N°
                                                        FRUTOS</strong></u></label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Blandos</label>
                                            <div class="col-6">
                                                {{ r.Blando }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre"
                                                class="col-6 col-form-label font-12">Sensibles</label>
                                            <div class="col-6">
                                                {{ r.Sensible }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Firmes</label>
                                            <div class="col-6">
                                                {{ r.Firme }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Muy
                                                Firmes</label>
                                            <div class="col-6">
                                                {{ r.MuyFirme }}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Large
                                                (L)</label>
                                            <div class="col-6">
                                                {{ r.FP_L }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-11">Extra
                                                Large
                                                (XL)</label>
                                            <div class="col-6">
                                                {{ r.FP_XL }}
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">Jumbo
                                                (J)</label>
                                            <div class="col-6">
                                                {{ r.FP_J }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">2
                                                Jumbo
                                                (2J)</label>
                                            <div class="col-6">
                                                {{ r.FP_J2 }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">3
                                                Jumbo
                                                (3J)</label>
                                            <div class="col-6">
                                                {{ r.FP_J3 }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-6 col-form-label font-12">4
                                                Jumbo
                                                (4J)</label>
                                            <div class="col-6">
                                                {{ r.FP_J4 }}
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row text-center">

                                            <label for="Precalibre" class="col-6 col-form-label font-12">
                                                <u>PROMEDIO</u> </label>
                                            <div class="col-6">
                                                {{ r.FPProm }}
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <h4 style="background-color:  #313a46; color: aliceblue;" class="text-center">
                                        <strong><u>Análisis de Masa</u></strong>
                                    </h4>
                                    <br>
                                    <div class="row col-xl-12 col-sm-12" style="margin-left: 15px;">
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12"><U>CALIBRES</U>
                                            </label>
                                            <div class="col-4">
                                                {{ r.CalibreLight }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.CalibreDark }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Fruto
                                                1</label>
                                            <div class="col-4">
                                                {{ r.C1F1 }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.C2F1 }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Fruto
                                                2</label>
                                            <div class="col-4">
                                                {{ r.C1F2 }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.C2F2 }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Fruto
                                                3</label>
                                            <div class="col-4">
                                                {{ r.C1F3 }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.C2F3 }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Fruto
                                                4</label>
                                            <div class="col-4">
                                                {{ r.C1F4 }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.C2F4 }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Fruto
                                                5</label>
                                            <div class="col-4">
                                                {{ r.C1F5 }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.C2F5 }}
                                            </div>
                                        </div>

                                        <br>
                                        <br>
                                        <br>
                                        <div class="row text-center">
                                            <hr>
                                            <div class="mb-3 col-6 col-form-label font-12 ">
                                                <label for="example-readonly" class="form-label">Promedio Calibre
                                                    1</label>
                                                {{ r.PromMasa1 }}
                                            </div>
                                            <div class="mb-3 col-6 col-form-label font-12">
                                                <label for="example-readonly" class="form-label">Promedio Calibre
                                                    2</label>
                                                {{ r.PromMasa2 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <h4 style="background-color:  #313a46; color: aliceblue;" class="text-center">
                                        <strong><u>Sólido Soluble</u></strong>
                                    </h4>
                                    <div class="row col-xl-12 col-sm-12 text-center" style="margin-left: 15px;">
                                        <div class="form-group row">
                                            <label for="Precalibre"
                                                class="col-4 col-form-label"><u><strong>Calibre</strong></u></label>
                                            <label for="Precalibre"
                                                class="col-4 col-form-label"><u><strong>LIGHT</strong></u></label>
                                            <label for="Precalibre"
                                                class="col-4 col-form-label"><u><strong>DARK</strong></u></label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Large
                                                (L)</label>
                                            <div class="col-4">
                                                {{ r.ssLL }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.ssLD }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Extra Large
                                                (XL)</label>
                                            <div class="col-4">
                                                {{ r.ssXLL }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.ssXLD }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">Jumbo
                                                (J)</label>
                                            <div class="col-4">
                                                {{ r.ssJL }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.ssJD }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">2 Jumbo
                                                (2J)</label>
                                            <div class="col-4">
                                                {{ r.ss2JL }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.ss2JD }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">3 Jumbo
                                                (3J)</label>
                                            <div class="col-4">
                                                {{ r.ss3JL }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.ss3JD }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Precalibre" class="col-4 col-form-label font-12">4 Jumbo
                                                (4J)</label>
                                            <div class="col-4">
                                                {{ r.ss4JL }}
                                            </div>
                                            <div class="col-4">
                                                {{ r.ss4JD }}
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="row text-center">
                                            <hr>
                                            <div class="mb-2 col-6 col-form-label font-12 ">
                                                <label for="example-readonly" class="form-label">Promedio Light</label>
                                                {{ r.PromLight }}
                                            </div>
                                            <div class="mb-2 col-6 col-form-label font-12">
                                                <label for="example-readonly" class="form-label">Promedio Dark</label>
                                                {{ r.PromDark }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-12 col-sm-12">
                                <div class="card">
                                    <h4 style="background-color:  #313a46; color: aliceblue;" class="text-center">
                                        <strong><u>Defecto de Calidad</u></strong>
                                    </h4>
                                    <div class="row p-2">
                                        <div class="col-xl-6 col-md-6 col-sm-12 text-center">

                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label"><u><strong></strong></u></label>
                                                <label for="Precalibre"
                                                    class="col-5 col-form-label text-center"><u><strong>N°</strong></u></label>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Daño
                                                    Insecto</label>
                                                <div class="col-5">
                                                    {{ r.DInsecto }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Daño
                                                    Trips</label>
                                                <div class="col-5">
                                                    {{ r.DTrips }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Falta
                                                    Color</label>
                                                <div class="col-5">
                                                    {{ r.FaltaColor }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Fruto
                                                    Deforme</label>
                                                <div class="col-5">
                                                    {{ r.FrutoDeforme }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Fruto
                                                    Doble</label>
                                                <div class="col-5">
                                                    {{ r.FrutoDoble }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Sin
                                                    Pedicelo</label>
                                                <div class="col-5">
                                                    {{ r.SinPedicelo }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Guata
                                                    Blanca</label>
                                                <div class="col-5">
                                                    {{ r.GuataBlanca }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Herida
                                                    Cicatrizada</label>
                                                <div class="col-5">
                                                    {{ r.HeridaCicatrizada }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6 col-sm-12 text-center ">

                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-6 col-form-label"><u><strong></strong></u></label>
                                                <label for="Precalibre"
                                                    class="col-3 col-form-label text-center"><u><strong>N°</strong></u></label>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Hijuelos</label>
                                                <div class="col-5">
                                                    {{ r.Hijuelo }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Manchas</label>
                                                <div class="col-5">
                                                    {{ r.Manchas }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Medialuna
                                                    Cicatrizada</label>
                                                <div class="col-5">
                                                    {{ r.MedialunaCicatrizada }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Mezcla
                                                    Varietal</label>
                                                <div class="col-5">
                                                    {{ r.MezclaVarietal }}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Roce</label>
                                                <div class="col-5">
                                                    {{ r.Roce }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Russet</label>
                                                <div class="col-5">
                                                    {{ r.Russet }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Otros</label>
                                                <div class="col-5">
                                                    {{ r.Otro1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center p-2">

                                        <label for="totDFC" class="col-6 col-form-label font-12"> <u>TOTAL DEFECTO
                                                CALIDAD</u> </label>
                                        <div class="col-3">
                                            {{ r.TotCalidad }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xl-6 col-md-12 col-sm-12">
                                <div class="card">
                                    <h4 style="background-color:  #313a46; color: aliceblue;" class="text-center">
                                        <strong><u>Defecto de Condición</u></strong>
                                    </h4>
                                    <div class="row p-2">
                                        <div class="col-xl-6 col-md-6 col-sm-12 text-center">
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label"><u><strong></strong></u></label>
                                                <label for="Precalibre"
                                                    class="col-5 col-form-label text-center"><u><strong>N°</strong></u></label>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Adhesion</label>
                                                <div class="col-5">
                                                    {{ r.Adhesion }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Daño
                                                    Pajaros</label>
                                                <div class="col-5">
                                                    {{ r.DPajaro }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Depresion
                                                    Severa</label>
                                                <div class="col-5">
                                                    {{ r.DepresionSevera }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Fruto
                                                    BLando</label>
                                                <div class="col-5">
                                                    {{ r.FrutoBLando }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Fruto
                                                    Deshidratado</label>
                                                <div class="col-5">
                                                    {{ r.FrutoDeshidratado }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Herida
                                                    Abierta</label>
                                                <div class="col-5">
                                                    {{ r.HeridaAbierta }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Machucón</label>
                                                <div class="col-5">
                                                    {{ r.Machucon }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Mancha
                                                    Pudrición</label>
                                                <div class="col-5">
                                                    {{ r.ManchaPudricion }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xl-6 col-md-6 col-sm-12 text-center">

                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label"><u><strong></strong></u></label>
                                                <label for="Precalibre"
                                                    class="col-5 col-form-label text-center"><u><strong>N°</strong></u></label>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Medialuna</label>
                                                <div class="col-5">
                                                    {{ r.Medialuna }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Partidura
                                                    Long./Apical</label>
                                                <div class="col-5">
                                                    {{ r.PartiduraLong }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Pedicelo
                                                    Deshidratado</label>
                                                <div class="col-5">
                                                    {{ r.PediceloDeshidratadi }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre" class="col-7 col-form-label font-12">Pitting
                                                    Punteadura</label>
                                                <div class="col-5">
                                                    {{ r.PittingPunteadura }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Pudrición</label>
                                                <div class="col-5">
                                                    {{ r.Pudricion }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Sobremadurez</label>
                                                <div class="col-5">
                                                    {{ r.Sobremadurez }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Sutura</label>
                                                <div class="col-5">
                                                    {{ r.Sutura }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Precalibre"
                                                    class="col-7 col-form-label font-12">Otros</label>
                                                <div class="col-5">
                                                    {{ r.DcondOtro1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center p-2">

                                        <label for="totDFC" class="col-6 col-form-label font-12"> <u>TOTAL DEFECTO
                                                CALIDAD</u> </label>
                                        <div class="col-3">
                                            {{ r.TotCondicion }}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-6 col-md-12 col-sm-12" style="border-color: #313a46;">
                                <div style="border-inline-color: #313a46;">
                                    <h4 style="background-color:  #0268ee; color: aliceblue;" class="text-center">
                                        <strong><u>RESULTADOS DE LA MUESTRA</u></strong>
                                    </h4>
                                    <div class="row">
                                        <div class="col-xl-6 col-md-6 col-sm-12 ">
                                            <div class="row text-center p-2">
                                                <label for="totDFC" class="col-9 col-form-label font-14"> <u>PRECALIBRE
                                                        (%)</u> </label>
                                                <div class="col-3">
                                                    {{ r.PrecalibreTot }}
                                                </div>
                                            </div>
                                            <div class="row text-center p-2">

                                                <label for="totDFC" class="col-9 col-form-label font-14"> <u>DEFECTO DE
                                                        CALIDAD (%)</u> </label>
                                                <div class="col-3">
                                                    {{ r.CalidadTotal }}
                                                </div>

                                            </div>
                                            <div class="row text-center p-2">

                                                <label for="totDFC" class="col-9 col-form-label font-14"> <u>DEFECTO DE
                                                        CODICIÓN (%)</u> </label>
                                                <div class="col-3">
                                                    {{ r.CondicionTotal }}
                                                </div>

                                            </div>
                                            <div class="card my-3" style="background-color: #267beb; color: aliceblue;">
                                                <div class="row text-center p-2">

                                                    <label for="totDFC" class="col-9 col-form-label font-14">
                                                        <strong><u>TOTAL EXPORTABLE MUESTRA (%)</u></strong> </label>
                                                    <div class="col-3">
                                                        {{ r.TotalExportable }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-md-6 col-sm-12 ">
                                            <div class="row col-xl-12 col-md-12 col-sm-12 my-4">
                                                {{ r.observaciones }}
                                            </div>
                                            <div class="row col-xl-12 col-md-12 col-sm-12 my-2">
                                                <button class=" btn btn-xs btn-success mb-0 my-3" type="submit"
                                                    id="submit"><i class="uil-file-check-alt"></i>
                                                    <span>Agregar Registro de Cerezas</span></button>
                                               
                                                <br>
                                                <button class="btn btn-primary mb-0 my-3" type="reset" id="reset">
                                                    <i class="uil-clipboard-blank"></i>
                                                    <span>Limpiar Formulario</span> </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- end card-body -->
</div> <!-- end card-->
</div> <!-- end col -->
</div>

</div> <!-- container -->

<script type="text/javascript">

    function calcularTodo() {

        Resultados();
        PromFirmPro();
        PromC1Masa();
        PromC2Masa();
        PromSD(); 
        PromSL();
        DefCal();
        DefCon();

    }


    function Resultados() {
        var precalibre = parseInt(document.getElementById('PCalibre').value);

        var num1 = parseInt(document.getElementById('DFC1').value);
        var num2 = parseInt(document.getElementById('DFC2').value);
        var num3 = parseInt(document.getElementById('DFC3').value);
        var num4 = parseInt(document.getElementById('DFC4').value);
        var num5 = parseInt(document.getElementById('DFC5').value);
        var num6 = parseInt(document.getElementById('DFC6').value);
        var num7 = parseInt(document.getElementById('DFC7').value);
        var num8 = parseInt(document.getElementById('DFC8').value);
        var num9 = parseInt(document.getElementById('DFC9').value);
        var num10 = parseInt(document.getElementById('DFC10').value);
        var num11 = parseInt(document.getElementById('DFC11').value);
        var num12 = parseInt(document.getElementById('DFC12').value);
        var num13 = parseInt(document.getElementById('DFC13').value);
        var num14 = parseInt(document.getElementById('DFC14').value);
        var num15 = parseInt(document.getElementById('DFC15').value);
        var DefCal;
        DefCal = num1 + num2 + num3 + num4 + num5 + num6 + num7 + num8 + num9 + num10 + num11 + num12 + num13 + num14 + num15;

        var nu1 = parseInt(document.getElementById('DFCo1').value);
        var nu2 = parseInt(document.getElementById('DFCo2').value);
        var nu3 = parseInt(document.getElementById('DFCo3').value);
        var nu4 = parseInt(document.getElementById('DFCo4').value);
        var nu5 = parseInt(document.getElementById('DFCo5').value);
        var nu6 = parseInt(document.getElementById('DFCo6').value);
        var nu7 = parseInt(document.getElementById('DFCo7').value);
        var nu8 = parseInt(document.getElementById('DFCo8').value);
        var nu9 = parseInt(document.getElementById('DFCo9').value);
        var nu10 = parseInt(document.getElementById('DFCo10').value);
        var nu11 = parseInt(document.getElementById('DFCo11').value);
        var nu12 = parseInt(document.getElementById('DFCo12').value);
        var nu13 = parseInt(document.getElementById('DFCo13').value);
        var nu14 = parseInt(document.getElementById('DFCo14').value);
        var nu15 = parseInt(document.getElementById('DFCo15').value);
        var nu16 = parseInt(document.getElementById('DFCo16').value);
        var DefCon;
        DefCon = nu1 + nu2 + nu3 + nu4 + nu5 + nu6 + nu7 + nu8 + nu9 + nu10 + nu11 + nu12 + nu13 + nu14 + nu15 + nu16;

        var exportable;
        exportable = 100 - (precalibre + DefCal + DefCon)
        $('input[id="PrecalibreTot"]').val(precalibre);
        $('input[id="TotalExportable"]').val(exportable);
    }

    function PromFirmPro() {
        var num2 = parseInt(document.getElementById('FP_L').value);
        var num3 = parseInt(document.getElementById('FP_XL').value);
        var num4 = parseInt(document.getElementById('FP_J').value);
        var num5 = parseInt(document.getElementById('FP_J2').value);
        var num6 = parseInt(document.getElementById('FP_J3').value);
        var num7 = parseInt(document.getElementById('FP_J4').value);
        var prom;
        prom = (num2 + num3 + num4 + num5 + num6 + num7) / 6;
        $('input[id="promedioFP1"]').val(prom.toFixed(2));
    }

    function PromC1Masa() {
        var num1 = parseInt(document.getElementById('C1F1').value);
        var num2 = parseInt(document.getElementById('C1F2').value);
        var num3 = parseInt(document.getElementById('C1F3').value);
        var num4 = parseInt(document.getElementById('C1F4').value);
        var num5 = parseInt(document.getElementById('C1F5').value);
        var prom1;
        prom1 = (num1 + num2 + num3 + num4 + num5) / 5;
        $('input[id="PromMasa1"]').val(prom1.toFixed(2));
    }

    function PromC2Masa() {
        var num1 = parseInt(document.getElementById('C2F1').value);
        var num2 = parseInt(document.getElementById('C2F2').value);
        var num3 = parseInt(document.getElementById('C2F3').value);
        var num4 = parseInt(document.getElementById('C2F4').value);
        var num5 = parseInt(document.getElementById('C2F5').value);
        var prom2;
        prom2 = (num1 + num2 + num3 + num4 + num5) / 5;
        $('input[id="PromMasa2"]').val(prom2.toFixed(2));
    }

    function PromSL() {
        var num1 = parseInt(document.getElementById('ssLL').value);
        var num2 = parseInt(document.getElementById('ssXLL').value);
        var num3 = parseInt(document.getElementById('ssJL').value);
        var num4 = parseInt(document.getElementById('ss2JL').value);
        var num5 = parseInt(document.getElementById('ss3JL').value);
        var num6 = parseInt(document.getElementById('ss4JL').value);
        var prom3;

        prom3 = (num1 + num2 + num3 + num4 + num5 + num6) / 6;
        $('input[id="PromLight"]').val(prom3.toFixed(2));
    }

    function PromSD() {
        var num1 = parseInt(document.getElementById('ssLD').value);
        var num2 = parseInt(document.getElementById('ssXLD').value);
        var num3 = parseInt(document.getElementById('ssJD').value);
        var num4 = parseInt(document.getElementById('ss2JD').value);
        var num5 = parseInt(document.getElementById('ss3JD').value);
        var num6 = parseInt(document.getElementById('ss4JD').value);


        var prom4;
        prom4 = (num1 + num2 + num3 + num4 + num5 + num6) / 6;
        $('input[id="PromDark"]').val(prom4.toFixed(2));
    }

    function DefCal() {
        var num1 = parseInt(document.getElementById('DFC1').value);
        var num2 = parseInt(document.getElementById('DFC2').value);
        var num3 = parseInt(document.getElementById('DFC3').value);
        var num4 = parseInt(document.getElementById('DFC4').value);
        var num5 = parseInt(document.getElementById('DFC5').value);
        var num6 = parseInt(document.getElementById('DFC6').value);
        var num7 = parseInt(document.getElementById('DFC7').value);
        var num8 = parseInt(document.getElementById('DFC8').value);
        var num9 = parseInt(document.getElementById('DFC9').value);
        var num10 = parseInt(document.getElementById('DFC10').value);
        var num11 = parseInt(document.getElementById('DFC11').value);
        var num12 = parseInt(document.getElementById('DFC12').value);
        var num13 = parseInt(document.getElementById('DFC13').value);
        var num14 = parseInt(document.getElementById('DFC14').value);
        var num15 = parseInt(document.getElementById('DFC15').value);

        var suma;
        suma = num1 + num2 + num3 + num4 + num5 + num6 + num7 + num8 + num9 + num10 + num11 + num12 + num13 + num14 + num15;
        $('input[id="TotCalidad"]').val(suma);
        $('input[id="CalidadTotal"]').val(suma);
    }

    function DefCon() {
        var num1 = parseInt(document.getElementById('DFCo1').value);
        var num2 = parseInt(document.getElementById('DFCo2').value);
        var num3 = parseInt(document.getElementById('DFCo3').value);
        var num4 = parseInt(document.getElementById('DFCo4').value);
        var num5 = parseInt(document.getElementById('DFCo5').value);
        var num6 = parseInt(document.getElementById('DFCo6').value);
        var num7 = parseInt(document.getElementById('DFCo7').value);
        var num8 = parseInt(document.getElementById('DFCo8').value);
        var num9 = parseInt(document.getElementById('DFCo9').value);
        var num10 = parseInt(document.getElementById('DFCo10').value);
        var num11 = parseInt(document.getElementById('DFCo11').value);
        var num12 = parseInt(document.getElementById('DFCo12').value);
        var num13 = parseInt(document.getElementById('DFCo13').value);
        var num14 = parseInt(document.getElementById('DFCo14').value);
        var num15 = parseInt(document.getElementById('DFCo15').value);
        var num16 = parseInt(document.getElementById('DFCo16').value);

        var suma;
        suma = num1 + num2 + num3 + num4 + num5 + num6 + num7 + num8 + num9 + num10 + num11 + num12 + num13 + num14 + num15 + num16;
        $('input[id="TotCondicion"]').val(suma);
        $('input[id="CondicionTotal"]').val(suma);

    }

</script>
{% endblock %}