{% extends "base.html" %}


{% load static %}

{% block content %}




<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="#">PostCosecha Cerezas</a></li>
                        <li class="breadcrumb-item active">Registros Cerezas</li>
                    </ol>
                </div>
                <h4 class="page-title">Registros de Cerezas</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <a href="{% url 'create_cerezas' %}" class="btn btn-success mb-2"><i
                                    class="mdi mdi-plus-circle me-2"></i> Agregar Registro</a>
                            &nbsp; &nbsp; &nbsp;
                            <!-- <a href="{% url 'create_cerezas' %}" class="btn btn-primary mb-2"><i
                                    class="mdi mdi-plus-circle me-2"></i> Ver Informes </a> -->
                        </div>
                        
                        <div class="col-sm-7">
                            <div class="text-sm-end">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-success mb-2 me-1"><i
                                            class="mdi mdi-cog-outline"></i></button>

                                    <a class="btn btn-secondary dropdown-toggle mb-2 me-2" href="#" role="button"
                                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Exportar
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">PDF</a>
                                        <a class="dropdown-item" href="#">Excel</a>
                                        <a class="dropdown-item" href="#">Imprimir</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div><!-- end col-->
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show"
                        role="alert">
                        <button type="button" class="btn-close btn-close-white "
                            data-bs-dismiss="alert" aria-label="Close bg-primary"></button>
                        <i class="dripicons-checkmark me-2 "></i><strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="table-responsive">
                        <table id="selection-datatable" class="table dt-responsive nowrap w-100">
                            <thead class="table-light">
                                <tr>
                                    <th class="all" style="width: 20px;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck1">
                                            <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th class="all">Lote</th>
                                    <th scope="col">Exportadora</th>
                                    <th scope="col">Productor</th>
                                    <th scope="col">N° de Guia</th>
                                    <th scope="col">Variedad</th>
                                    <th scope="col">Fecha de Recepción</th>
                                    <th scope="col">Hora de Recepción</th>
                                    <th scope="col">Patente</th>
                                    <th scope="col">Kilos Neto</th>
                                    <th scope="col">¿Hidro Campo?</th>
                                    <th style="width: 150px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for registro in registros %}
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>{{registro.Lote}}</td>
                                    <td>{{registro.Exportadora}}</td>
                                    <td>{{registro.Productor}}</td>
                                    <td>{{registro.Nguia}}</td>
                                    <td>{{registro.Variedad}}</td>
                                    <td>{{registro.Fecha_Recepcion}}</td>
                                    <td>{{registro.Hora_Recepcion}}</td>
                                    <td>{{registro.Patente}}</td>
                                    <td>{{registro.KNeto}}</td>
                                    
                                    <td>
                                        <span class="badge bg-success">{{registro.Hidro}}</span>
                                    </td>
                                    <td class="table-action">
                                        <a class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                        <a class="action-icon" href="{% url 'update_form_cereza' registro.Lote %}">
                                            <i class="mdi mdi-square-edit-outline"></i></a>
                                        <a class="action-icon" href="{% url 'delete_form_cereza' registro.Lote %}">
                                            <i class="mdi mdi-delete"></i></a>
                                    </td>

                                </tr>



                                {% endfor %}





                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container -->



{% endblock %}