{% extends "base.html" %}

{% load static %}

{% block content %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Contáctanos</h4>
                    <p class="text-muted font-14">
                        ¡Muy pronto nos pondremos en contacto contigo!
                    </p>


                    <div class="tab-content">
                        <div class="tab-pane show active" id="input-masks-preview">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if form.errors %}
                                        <p style="color: red;"> Por favor revisa este campo</p>
                                    {% endif %}
                                    <form action="" method="POST">{% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                placeholder="ej: Problema para Ingresar"  name="asunto"/>
                                            <label for="floatingInput">Asunto</label>
                                            <span class="font-11 text-muted">ej: "Problema para Ingresar"</span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                placeholder="ej: Sebastian Alejandro " name="nombres"/>
                                            <label for="floatingInput">Nombres</label>
                                            <span class="font-11 text-muted">ej: "Sebastian Alejandro"</span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                placeholder="ej: Araya Torres" name="apellidos" />
                                            <label for="floatingInput">Apellidos</label>
                                            <span class="font-11 text-muted">ej: "Araya Torres"</span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                data-toggle="input-mask" data-mask-format="(+56) 0 0000 0000"
                                                placeholder="ej: (+56) 9 6230 2265" name="telefono" />
                                            <label for="floatingInput">Telefono</label>
                                            <span class="font-11 text-muted">ej: "(+56) 9 6230 2265"</span>
                                        </div>


                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="Leave a comment here" name="email" />
                                            <label for="floatingInput">Correo Electrónico</label>
                                            <span class="font-11 text-muted">ej: "nombre@empresa.cl"</span>
                                        </div>

                                        <div class="form-floating">
                                            <select class="form-select" id="floatingSelect"
                                                aria-label="Floating label select example">
                                                <option selected>Slecciona una Razon por la cual te tratas de comunicar
                                                    con nosotros</option>
                                                <option value="1">Motivo 1</option>
                                                <option value="2">Motivo 2</option>
                                                <option value="3">Motivo 3</option>
                                            </select>
                                            <label for="floatingSelect">Categoria de Motivos</label>
                                            <span class="font-11 text-muted">ej : "problemas con el Formulario
                                                Registro"</span>
                                        </div>

                                        <div class="form-floating">
                                            <textarea class="form-control" name="mensaje" placeholder="Leave a comment here"
                                                id="floatingTextarea" style="height: 100px;"></textarea>
                                            <label for="floatingTextarea">Mensaje</label>
                                            <span class="font-11 text-muted">Dejanos tu mensaje - "Identifica tu
                                                problema"</span>
                                        </div>


                                        
                                        <input type="submit" value="Enviar" class="font-16 bg-primary text-white ">
                                
                                </form>
                               


                            </div> <!-- end col -->


                        </div>
                        <!-- end row -->
                    </div> <!-- end preview-->



                </div> <!-- end tab-content-->




            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
    </div> <!-- end row -->

</main>
{% endblock %}