<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias</title>
</head>
<body>
    
</body>
</html>

{% extends "base.html" %}

{% load static %}

{% block content %}
      

        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                                <li class="breadcrumb-item active">Registros de Camiones</li>
                            </ol>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- end page title -->
        
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-5">
                                    <a href="{% url 'home_started' %}" class="btn btn-success mb-2"><i
                                            class="mdi mdi-plus-circle me-2"></i> Volver al Home</a>
                                    &nbsp; &nbsp; &nbsp;  
                                     <a href="{% url 'contactanos' %}" class="btn btn-primary mb-2"><i
                                            class="mdi mdi-plus-circle me-2"></i> Formulario Contácto</a>                          
                                </div>
        
                              
                            </div>
                            <h1>Gracias por enviarnos la consulta.</h1>
        <p>Nos pondremos en contacto, en breve</p>
    
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">¡ Muy pronto el Administrador se pondra en contacto con usted!</h4>
            <p>Tu mrequirimiento es sumamente importante para nosotros, el equipo de soporte esta evaluando tu problema.. En los proximos minutos se pondrán en contacto con usted.</p>
            <hr>
            <p class="mb-0">El equipo de Soporte Técnico esta trabajando para una pronta solución a tu requerimiento</p>
            <hr>
            <p class="mb-0">Administrador | Sebastian Araya T. | <strong> Whatsapp (+56) 9 6230 2265</strong></p>
        </div>
                           
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        
        </div> <!-- container -->
        
   
{% endblock %}
    