{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Registros de Variedades</li>
                </ol>
            </div>
            <h2 class="my-3 h2 text-center"> <u>VARIEDADES</u></h2>

        </div>
    </div>
</div>
<!-- end page title -->



<div class="row">
    
    
    <div class="col-xl-4 col-lg-5 col-sm-12">
        <div class="card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- start page title -->
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="page-title-box">

                                                        <h5 class="font-12"><u>Formulario de Registro</u></h5>
                                                        <h2 class="header-title font-18">  AGREGAR VARIEDAD</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end page title -->
                                            <div class="tab-content">
                                                <div class="tab-pane show active" id="input-masks-preview">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <form action="#" method="POST"
                                                                enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                {{ form.as_p }}
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                {% include "include/botones_create.html" %}
                                                            </form>

                                                        </div> <!-- end col -->
                                                    </div>
                                                    <!-- end row -->
                                                </div> <!-- end preview-->
                                            </div> <!-- end tab-content-->
                                        </div> <!-- end card-body -->
                                    </div> <!-- end card -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        


            <!-- end card-body-->
        </div>
    </div> <!-- end col -->
    <!--  -->
    <!--  -->
    <!--  -->
    <div class="col-xl-8 col-lg-7 col-sm-12">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show"
                                            role="alert">
                                            <button type="button" class="btn-close btn-close-white "
                                                data-bs-dismiss="alert" aria-label="Close bg-primary"></button>
                                            <i class="dripicons-checkmark me-2 "></i><strong>{{message}}</strong>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        <h2 class="page-title">LISTA DE VARIEDADES</h2>
                                        {% include "include/menu_superior_read.html" %} 
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="table-responsive">
                                <table id="selection-datatable" class="table dt-responsive nowrap w-100">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="all" style="width: 20px;">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th class="all">Nombre</th>
                                            <th class="all">Especie</th>
                                            <th scope="col">created_at</th>
                                            <th scope="col">updated_at</th>
                                            <th style="width: 150px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for registro in registros %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck2">
                                                    <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td>{{registro.Nombre}}</td>
                                            <td>{{registro.Especie}}</td>
                                            <td>{{registro.created_at}}</td>
                                            <td>{{registro.updated_at}}</td>
                                            <td class="table-action">
                                                <!--<a class="action-icon"> <i class="mdi mdi-eye"></i></a>-->
                                                <a class="action-icon" href="{% url 'update_variedades' registro.id %}"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                <a class="action-icon btnEliminacion" href="{% url 'delete_variedades' registro.id %}"> <i class="mdi mdi-delete"></i></a>
                                            </td>
                                        </tr>                                        
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div> <!-- end card-->
    </div> <!-- end col -->




</div>
<!-- end row-->

{% endblock %}