<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Pagina Home | Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="App GPS | Green Pack Services" name="description" />
    <meta content="Sebastian Araya Torres | Desarrollador Informatico" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <!-- third party css -->
    <link href="{% static 'css/vendor/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
    <!-- third party css -->
    <link href="{% static 'css/vendor/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/responsive.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/buttons.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/select.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/fixedHeader.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/fixedColumns.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->


</head>

<body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid"
    data-rightbar-onstart="true">
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="#" class="logo text-center logo-light ">
                <span class="logo-lg text-light h3">
                    <span> Green Pack Services </span>
                </span>
                <span class="logo-sm text-light h6">
                    <span> GPS </span>
                </span>
            </a>

            <!-- LOGO -->
            <a href="#" class="logo text-center logo-dark text-dark h4">
                <span class="logo-lg text-dark h3">
                    <span> Green Pack Services </span>
                </span>
                <span class="logo-sm text-dark h6">
                    <span> GPS </span>
                </span>
            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar>

                <!--- Sidemenu -->
                <ul class="side-nav">

                    <li class="side-nav-title side-nav-item">Navegador</li>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false"
                            aria-controls="sidebarDashboards" class="side-nav-link">
                            <i class="uil-home-alt"></i>
                            <!---<span class="badge bg-success float-end">3</span> -->
                            <span> Dashboards </span>
                        </a>
                        <div class="collapse" id="sidebarDashboards">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{% url 'home_analitics' %}">Home Inicio</a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPerfiles" aria-expanded="false"
                            aria-controls="sidebarPerfiles" class="side-nav-link">
                            <i class="dripicons-user-group"></i>
                            <span class="badge bg-warning float-end text-dark">+</span>
                            <span> Perfiles </span>
                        </a>
                        <div class="collapse" id="sidebarPerfiles">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a>Permisos</a>
                                </li>
                                <li>
                                    <a>Usuarios</a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="side-nav-title side-nav-item">Aplicaciones</li>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPostCosecha" aria-expanded="false"
                            aria-controls="sidebarPostCosecha" class="side-nav-link">
                            <i class="dripicons-help"></i>
                            <span class="menu-arrow "></span>
                            <span> PostCosecha </span>

                        </a>
                        <div class="collapse" id="sidebarPostCosecha">


                            <ul class="side-nav-second-level">
                                <li class="side-nav-item">
                                    <a data-bs-toggle="collapse" href="#SecondLevelCerezas" aria-expanded="false"
                                        aria-controls="SecondLevelCerezas">
                                        <span> Cerezas </span>
                                        <span class="menu-arrow"></span>
                                    </a>

                                    <div class="collapse" id="SecondLevelCerezas">
                                        <ul class="side-nav-third-level">
                                            <li>
                                                <a href="{% url 'create_cerezas' %}">Agregar Registro</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'read_cerezas' %}">Ver Registros</a>
                                            </li>
                                        </ul>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarHR" aria-expanded="false" aria-controls="sidebarHR"
                            class="side-nav-link">
                            <i class="dripicons-checklist"></i>
                            <!--<span class="menu-arrow"></span>-->
                            <span class="menu-arrow "></span>
                            <span> Hoja de Ruta </span>
                        </a>

                        <div class="collapse" id="sidebarHR">
                            <ul class="side-nav-second-level">

                                <li>
                                    <a href="{% url 'create_programa' %}">Agregar y Editar Programa</a>
                                </li>

                            </ul>

                            <ul class="side-nav-second-level">

                                <li>
                                    <a href="{% url 'see_all_record_roadmap' %}">Todos los Registros</a>
                                </li>

                            </ul>

                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{% url 'create_entry_roadmap' %}">Hoja Ruta (Portería)</a>
                                </li>

                            </ul>
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{% url 'create_cold_roadmap' %}">Hoja Ruta (Frio)</a>
                                </li>

                            </ul>

                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{% url 'create_sag_roadmap' %}">Hoja Ruta (SAG)</a>
                                </li>

                            </ul>
                        </div>

                    </li>

                    <li class="side-nav-item">

                        <a data-bs-toggle="collapse" href="#sidebarDimensiones" aria-expanded="false"
                            aria-controls="sidebarDimensiones" class="side-nav-link">
                            <i class="dripicons-browser"></i>
                            <!--<span class="menu-arrow"></span>-->
                            <span class="badge bg-info text-white text-uppercase float-end">+</span>
                            <span> Dimensiones </span>
                        </a>

                        <div class="collapse" id="sidebarDimensiones">



                            <ul class="side-nav-second-level">
                                <li class="side-nav-item">
                                    <a href="{% url 'all_exportador' %}">
                                        <span> Exportadoras </span>
                                    </a>
                                </li>

                            </ul>

                            <ul class="side-nav-second-level">
                                <li class="side-nav-item">
                                    <a href="{% url 'all_especie' %}">
                                        <span> Especies </span>
                                    </a>
                                </li>

                            </ul>
                            <ul class="side-nav-second-level">
                                <li class="side-nav-item">
                                    <a href="{% url 'all_variedad' %}">
                                        <span> Variedades </span>
                                    </a>
                                </li>
                            </ul>

                            <ul class="side-nav-second-level">
                                <li class="side-nav-item">
                                    <a href="{% url 'all_envase' %}">
                                        <span> Envases </span>
                                    </a>
                                </li>
                            </ul>

                            <ul class="side-nav-second-level">
                                <li class="side-nav-item">
                                    <a href="{% url 'all_productor' %}">
                                        <span> Productores </span>
                                    </a>
                                </li>
                            </ul>

                            <ul class="side-nav-second-level">
                                <li class="side-nav-item">
                                    <a href="{% url 'all_camion' %}">
                                        <span> Medios de Transportes </span>
                                    </a>
                                </li>
                            </ul>





                        </div>
                    </li>

                </ul>


                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">
                        <li class="dropdown notification-list d-lg-none">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="dripicons-search noti-icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                                <form class="p-3">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                        aria-label="Recipient's username">
                                </form>
                            </div>
                        </li>




                        <li class="notification-list">
                            <a class="nav-link end-bar-toggle" href="javascript: void(0);">
                                <i class="dripicons-gear noti-icon"></i>
                            </a>
                        </li>


                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
                                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user-image"
                                        class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name">Sebastian</span>
                                    <span class="account-position">Desarrollador</span>
                                </span>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Bienvenido !</h6>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-account-circle me-1"></i>
                                    <span>Mi Cuenta</span>
                                </a>

                                <!-- item-->
                                <a class="nav-link end-bar-toggle" href="javascript: void(0);">
                                    <i class="mdi dripicons-gear  me-1"></i>
                                    <span>Configuraciones</span>
                                </a>

                                <!-- item-->
                                <a href="{% url 'contactanos' %}" class="dropdown-item notify-item">
                                    <i class="mdi mdi-lifebuoy me-1"></i>
                                    <span>Soporte</span>
                                </a>

                                <!-- item-->
                                <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Cerrar Sesión</span>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <!-- Boton MENU SIDEBAR-->
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <!-- end Boton MENU SIDEBAR-->


                </div>
                <!-- end Topbar -->
                <!-- CONTENIDO DINAMICO -->

                {% block content %}

                {% endblock %}
            </div>


            <!-- content -->

            <!-- end content -->


            <!-- Footer Start -->
            <footer class="footer bg-dark">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © Desarrollador | Sebastian Araya
                            T. - greenpackservices.cl
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block text-uppercase text-danger">

                                <a href="{% url 'contactanos' %}">Soporte Técnico</a>

                                <a href="{% url 'contactanos' %}">Contáctanos</a>


                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
    <div class="end-bar">

        <div class="rightbar-title">
            <a href="javascript:void(0);" class="end-bar-toggle float-end">
                <i class="dripicons-cross noti-icon"></i>
            </a>
            <h5 class="m-0">Configuraciones</h5>
        </div>

        <div class="rightbar-content h-100" data-simplebar>

            <div class="p-3">
                <!-- Settings -->
                <h5 class="mt-3">Color Tema</h5>
                <hr class="mt-1" />

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="light"
                        id="light-mode-check" checked>
                    <label class="form-check-label" for="light-mode-check">Modo Claro</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="dark"
                        id="dark-mode-check">
                    <label class="form-check-label" for="dark-mode-check">Modo Oscuro</label>
                </div>


                <!-- Width -->
                <h5 class="mt-4">Ancho Tema</h5>
                <hr class="mt-1" />
                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="width" value="fluid" id="fluid-check" checked>
                    <label class="form-check-label" for="fluid-check">Fluid</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="width" value="boxed" id="boxed-check">
                    <label class="form-check-label" for="boxed-check">Boxed</label>
                </div>


                <!-- Left Sidebar-->
                <h5 class="mt-4">Barra Lateral</h5>
                <hr class="mt-1" />
                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="theme" value="default" id="default-check">
                    <label class="form-check-label" for="default-check">Por Defecto</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="theme" value="light" id="light-check" checked>
                    <label class="form-check-label" for="light-check">Clara</label>
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="theme" value="dark" id="dark-check">
                    <label class="form-check-label" for="dark-check">Oscura</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="fixed" id="fixed-check"
                        checked>
                    <label class="form-check-label" for="fixed-check">Fija</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="condensed"
                        id="condensed-check">
                    <label class="form-check-label" for="condensed-check">Condensada</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="scrollable"
                        id="scrollable-check">
                    <label class="form-check-label" for="scrollable-check">Desplazable</label>
                </div>

                <div class="d-grid mt-4">
                    <button class="btn btn-primary" id="resetBtn">Resetear Valores por Defecto</button>
                </div>
            </div> <!-- end padding-->

        </div>
    </div>

    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->

    <!-- bundle -->
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>

    <!-- third party js -->
    <!-- <script src="assets/js/vendor/chart.min.js"></script> -->
    <script src="{% static 'js/vendor/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>
    <!-- third party js ends -->



    <!-- third party js -->
    <script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/vendor/dataTables.bootstrap5.js' %}"></script>
    <script src="{% static 'js/vendor/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/vendor/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/vendor/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/vendor/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/vendor/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/vendor/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/vendor/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/vendor/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/vendor/dataTables.select.min.js' %}"></script>
    <script src="{% static 'js/vendor/fixedColumns.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/vendor/fixedHeader.bootstrap5.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="{% static 'js/pages/demo.form-wizard.js' %}"></script>
    <!-- end demo js-->

    <!-- demo app -->
    <script src="{% static 'js/pages/demo.datatable-init.js' %}"></script>
    <!-- end demo js-->

    <!-- demo app -->
    <script src="{% static 'js/ActionButton.js' %}"></script>
    <!-- end demo js-->
    <!-- demo js -->
    <script src="{% static 'js/pages/demo.toastr.js' %}"></script>
    <!-- -->



</body>

</html>