<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="utf-8" />
    {% block title %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <!-- App css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">

                    <!-- LOGO -->
                    <div class="auth-brand text-center text-lg-start">
                        <a href="{% url 'register' %}" class="logo-dark">
                            <span><img src="../../static/images/logo.png" alt="" height="65"></span>
                        </a>
                        <a href="{% url 'register' %}" class="logo-light">
                            <span><img src="../../static/images/logo.png" alt="" height="30"></span>
                        </a>
                    </div>

                    {% block content %}

                    {% endblock %}


                    {% block footer %} {% endblock footer %}
                    
                   

                </div> <!-- end .card-body -->
            </div> <!-- end .align-items-center.d-flex.h-100-->
        </div>
        <!-- end auth-fluid-form-box-->

        <!-- Auth fluid right content -->
        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <h2 class="mb-3">Plataforma interna de Green Pack Services</h2>
                <p class="lead"><i class="mdi mdi-format-quote-open"></i> Los datos proporcionados seran verificados
                    antes de proporcionar credenciales de acceso. <i class="mdi mdi-format-quote-close"></i>
                </p>
                <p>
                    - Administrador | Sebastian Araya T. | <b>+56 9 6230 2265</b>
                </p>
            </div> <!-- end auth-user-testimonial-->
        </div>
        <!-- end Auth fluid right content -->
    </div>
    <!-- end auth-fluid-->

    <!-- bundle -->
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>

</body>

</html>