<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Email Reset Enviado | Green Pack Services 2022-2023</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <!-- App css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">

                    
                     <!-- LOGO -->
                    <div class="auth-brand text-center text-lg-start">
                        <a href="{% url 'confirm_email' %}" class="logo-dark">
                            <span><img src="../../static/images/logo.png" alt="" height="50"></span>
                        </a>
                        <a href="{% url 'confirm_email' %}" class="logo-light">
                            <span><img src="../../static/images/logo.png" alt="" height="30"></span>
                        </a>
                    </div>
                    

                    <!-- email send icon with text-->
                    <div class="text-center m-auto">
                        <img src="{% static 'images/mail_sent.svg' %}" alt="mail sent image" height="64" />
                        <h4 class="text-dark-50 text-center mt-4 fw-bold">Por favor revise su correo electrónico</h4>
                        <p class="text-muted mb-4">
                            Se ha enviado un correo electrónico a <b>youremail@domain.com</b>.
                            Verifique si hay un correo electrónico de la compañía y haga clic en el enlace incluido para
                            Restablecer su contraseña.
                        </p>
                    </div>

                    <!-- form -->
                    <form action="{% url 'login' %}">
                        <div class="mb-0 d-grid text-center">
                            <button class="btn btn-primary" type="submit"><i class="mdi mdi-home me-1"></i> Volver Home
                            </button>
                        </div>
                    </form>
                    <!-- end form-->

                    <!-- Footer-->
                    <footer class="footer footer-alt">
                        <p class="text-muted">2021 -
                            <script>document.write(new Date().getFullYear())</script> © Green Pack Services
                        </p>
                    </footer>

                </div> <!-- end .card-body -->
            </div> <!-- end .align-items-center.d-flex.h-100-->
        </div>
        <!-- end auth-fluid-form-box-->

        <!-- Auth fluid right content -->
        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <h2 class="mb-3">¡Un nuevo comenzar! - Revisa tu correo</h2>
                <p class="lead"><i class="mdi mdi-format-quote-open"></i> Para Soporte Tecnico comunicarse con <b>Administrador</b>
                    . <i class="mdi mdi-format-quote-close"></i>
                </p>
                <p>
                    - Desarrollador | Sebastian Araya T. | <b>+56 9 6230 2265</b>
                </p>
            </div> <!-- end auth-user-testimonial-->
        </div>
        <!-- end Auth fluid right content -->
    </div>
    <!-- end auth-fluid-->

    <!-- bundle -->
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>

</body>

</html>