
{% extends 'login/base-login.html' %}

{% load static %}

{% block title %} <title>Recupera tu contraseña | Green Pack Services 2022-2023</title> {% endblock %}

{% block content %}

<!-- title-->
<h4 class="mt-0">Restablecer Contraseña</h4>
<p class="text-muted mb-4">
    Ingrese su dirección de correo electrónico y le enviaremos un correo electrónico con
    instrucciones para
    Restablecer su contraseña.</p>

<!-- form -->
<form action="{% url 'confirm_email' %}" href="{% url 'confirm_email' %}">
    <div class="mb-3">
        <label for="emailaddress" class="form-label">Dirección Email</label>
        <input class="form-control" type="email" id="emailaddress" required=""
            placeholder="Ingresa tu correo institucional">
    </div>
    <div class="mb-0 text-center d-grid">
        <button class="btn btn-primary" type="submit"><i class="mdi mdi-lock-reset">
            </i> Restablecer</button>
    </div>
</form>
<!-- end form-->



<!-- social-->
<div class="text-center mt-4">
    <p class="text-muted font-16">Siguenos en:</p>
    <ul class="social-list list-inline mt-3">
        <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i
                    class="mdi mdi-facebook"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                    class="mdi mdi-google"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                    class="mdi mdi-twitter"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                    class="mdi mdi-github"></i></a>
        </li>
    </ul>
</div>
</form>
<!-- end form-->




{% block footer %}
<!-- Footer-->
<footer class="footer footer-alt">
    <p class="text-muted">Volver home <a href="{% url 'login' %}" class="text-muted ms-1"><b>Iniciar
                sesión</b></a></p>
</footer>
{% endblock footer %}

{% endblock %}