{% extends 'login/base-login.html' %}

{% load static %}

{% block title %} <title>Formulario Registro | Green Pack Services 2022-2023 </title> {% endblock %}

{% block content %}
<!-- title-->
<h3 class="mt-0">Crear una Cuenta</h3>
<p class="text-muted mb-4">¿No tienes una cuenta? Te tomara menos de 3 minutos</p>

<!-- form -->
<form action="#" method="POST">{% csrf_token %}
    <div class="field">
        <label for="" class="label">Nombre Usuario</label>
        <div class="control has-icons-left">
            {{ form.username }}
            <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
            </span>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="field">
        <label for="" class="label">Correo Electrónico</label>
        <div class="control has-icons-left">
            {{ form.email }}
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="field">
        <label for="" class="label">Contraseña</label>
        <div class="control has-icons-left">
            {{ form.password1 }}
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="field">
        <label for="" class="label">Confirma Contraseña</label>
        <div class="control has-icons-left">
            {{ form.password2 }}
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="mb-0 d-grid text-center">
        <button class="btn btn-primary" type="submit" id="submit"><i class="mdi mdi-account-circle"></i>
            Crear Usuario </button>
    </div>

    <!-- social-->
    <div class="text-center mt-4">
        <p class="text-muted font-16">Siguenos en:</p>
        <ul class="social-list list-inline mt-3">
            <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i
                        class="mdi mdi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                        class="mdi mdi-google"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                        class="mdi mdi-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                        class="mdi mdi-github"></i></a>
            </li>
        </ul>
    </div>
</form>
<!-- end form-->
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <i class="dripicons-wrong me-2"></i> No se ha podido registrar el <strong>Usuario</strong> ¡Por
    favor revisa los campos!
</div>
{% endif %}




{% block footer %}
 <!-- Footer-->
 <footer class="footer footer-alt">
    <p class="text-muted">¿Ya tienes cuenta? <a href="{% url 'login' %}"
            class="text-muted ms-1"><b>Iniciar sesión</b></a></p>
</footer>
{% endblock footer %}

{% endblock %}

