{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active"><u>Formulario Update Exportadoras</u></li>
                    </ol>
                </div>
                <h5 class="font-12 text-center"> </h5>                
                <h2 class="my-3 h2 text-center"> <u>ACTUALIZAR REGISTRO DE EXPORTADORA</u></h2>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% include "include/menu_superior_create.html" %} 

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="input-masks-preview">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <form action="#" method="POST">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;

                                                        {% include "include/botones_update.html" %}
                                                    </form>
                                                   
                                                </div> <!-- end col -->
                                            </div>
                                            <!-- end row -->
                                        </div> <!-- end preview-->
                                    </div> <!-- end tab-content-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div> <!-- container -->
{% endblock %}