{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Programas de Embarque</li>
                </ol>
            </div>
            <h2 class="my-3 h2 text-center"> <u>Programas de Embarque Disponibles</u></h2>

        </div>
    </div>
</div>
<!-- end page title -->



<div class="row">


    <div class="col-xl-4 col-lg-5 col-sm-12">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">

                                        <h5 class="font-12"><u>Formulario de Registro</u></h5>
                                        <h2 class="header-title font-18"> COMPLETAR HOJA DE RUTA ASIGNADA</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="tab-content">
                                <div class="tab-pane show active" id="input-masks-preview">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form action="#" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                                {% include "include/botones_create.html" %}
                                            </form>

                                        </div> <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div> <!-- end preview-->
                            </div> <!-- end tab-content-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div> <!-- end row -->



            <!-- end card-body-->
        </div>
    </div> <!-- end col -->
    <!--  -->
    <!--  -->
    <!--  -->
    <div class="col-xl-8 col-lg-7 col-sm-12">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">

                                        <h2 class="page-title">HOJAS DE RUTA DISPONIBLES</h2>
                                        {% include "include/menu_superior_read.html" %}
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="table-responsive">
                                <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="all" style="width: 20px;">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th class="all">Nombres</th>
                                            <th scope="col">Apellidos</th>
                                            <th scope="col">Rut</th>
                                            <th scope="col">Patente1</th>
                                            <th scope="col">Patente2</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Exportadora</th>
                                            <th scope="col">updated_at</th>
                                            <th style="width: 150px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for registro in registros %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck2">
                                                    <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td>{{registro.Nombres}}</td>
                                            <td>{{registro.Apellidos}}</td>
                                            <td>{{registro.Rut}}</td>
                                            <td>{{registro.Patente1}}</td>
                                            <td>{{registro.Patente2}}</td>
                                            <td>{{registro.Telefono}}</td>
                                            <td>{{registro.Exportadora}}</td>
                                            <td>{{registro.updated_at}}</td>
                                            <td class="table-action">
                                                <!--<a class="action-icon"> <i class="mdi mdi-eye"></i></a>-->
                                                <a class="action-icon" href="{% url 'update_camiones' registro.id %}">
                                                    <i class="mdi mdi-square-edit-outline"></i></a>
                                                <a class="action-icon" href="{% url 'delete_camiones' registro.id %}">
                                                    <i class="mdi mdi-delete"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div> <!-- end card-->
    </div> <!-- end col -->




</div>
<!-- end row-->

{% endblock %}